Import packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Open the data file for reading

In [9]:
rawData = pd.read_csv('PGA Tour Raw Data.csv')
rawData.head()

,Player_initial_last,tournament id,player id,hole_par,strokes,hole_DKP,hole_FDP,hole_SDP,streak_DKP,streak_FDP,...,purse,season,no_cut,Finish,sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_total
0,A. Ancer,401353224,9261,288,289,60.0,51.1,56,3,7.6,...,12.0,2022,0,T32,0.20,-0.13,-0.08,0.86,0.65,0.85
1,A. Hadwin,401353224,5548,288,286,72.5,61.5,61,8,13.0,...,12.0,2022,0,T18,0.36,0.75,0.31,0.18,1.24,1.60
2,A. Lahiri,401353224,4989,144,147,21.5,17.4,27,0,0.0,...,12.0,2022,0,CUT,-0.56,0.74,-1.09,0.37,0.02,-0.54
3,A. Long,401353224,6015,144,151,20.5,13.6,17,0,0.4,...,12.0,2022,0,CUT,-1.46,-1.86,-0.02,0.80,-1.08,-2.54
4,A. Noren,401353224,3832,144,148,23.5,18.1,23,0,1.2,...,12.0,2022,0,CUT,0.53,-0.36,-1.39,0.19,-1.56,-1.04

clean the data to eliminate unnecessary columns

In [8]:
#dropping any rows/columns with missing data
null_columns = rawData.isnull().any()

# Print columns with null value
print(null_columns)

Player_initial_last    False
tournament id          False
player id              False
hole_par               False
strokes                False
hole_DKP               False
hole_FDP               False
hole_SDP               False
streak_DKP             False
streak_FDP             False
streak_SDP             False
n_rounds               False
made_cut               False
pos                     True
finish_DKP             False
finish_FDP             False
finish_SDP             False
total_DKP              False
total_FDP              False
total_SDP              False
player                 False
Unnamed: 2              True
Unnamed: 3              True
Unnamed: 4              True
tournament name        False
course                 False
date                   False
purse                  False
season                 False
no_cut                 False
Finish                  True
sg_putt                 True
sg_arg                  True
sg_app                  True
sg_ott                  True
sg_t2g                  True
sg_total                True
dtype: bool

In [18]:
#create a new dataframe with only the columns that are important for analysis
columns_to_drop = ["Player_initial_last", "hole_DKP", "hole_FDP", "hole_SDP", "streak_DKP",
                    "streak_FDP", "streak_SDP", "made_cut", "pos", "finish_DKP", "finish_FDP",
                    "finish_SDP", "total_DKP", "total_FDP", "total_SDP", "Unnamed: 2", "Unnamed: 3",
                    "Unnamed: 4", "purse", "no_cut"]

cleanData = rawData.drop(columns=columns_to_drop)

In [19]:
#Clean up any rows with a "n_rounds" value not equal to 4, to keep data points consistent
cleanData = cleanData[cleanData.n_rounds == 4]

# Print the first 5 rows of the new data
print(cleanData.head())

   tournament id  player id  hole_par  strokes  n_rounds         player  \
0      401353224       9261       288      289         4  Abraham Ancer
1      401353224       5548       288      286         4    Adam Hadwin
6      401353224      10906       288      287         4      Aaron Rai
7      401353224      10372       288      287         4    Adam Schenk
8      401353224        388       288      299         4     Adam Scott

                               tournament name  \
0  The Memorial Tournament pres. by Nationwide
1  The Memorial Tournament pres. by Nationwide
6  The Memorial Tournament pres. by Nationwide
7  The Memorial Tournament pres. by Nationwide
8  The Memorial Tournament pres. by Nationwide

                                     course    date  season Finish  sg_putt  \
0  Muirfield Village Golf Club - Dublin, OH  6/5/22    2022    T32     0.20
1  Muirfield Village Golf Club - Dublin, OH  6/5/22    2022    T18     0.36
6  Muirfield Village Golf Club - Dublin, OH  6/5/22    2022    T26     2.05
7  Muirfield Village Golf Club - Dublin, OH  6/5/22    2022    T26    -0.96
8  Muirfield Village Golf Club - Dublin, OH  6/5/22    2022    T67    -0.82

   sg_arg  sg_app  sg_ott  sg_t2g  sg_total
0   -0.13   -0.08    0.86    0.65      0.85
1    0.75    0.31    0.18    1.24      1.60
6    0.74   -1.32   -0.12   -0.70      1.35
7   -0.01    1.84    0.48    2.31      1.35
8   -1.79    2.00   -1.04   -0.83     -1.65

Now, we will separate the data by region into separate dataframes.
I have decided to select the top 8 yearly tournaments from each region to analyze.
The regions are Northeast, Southeast, and West (There is not much going on in the northwest, so I combined north and south)

In [22]:
valuesNE = [401243408, 401243411, 401243403, 401243412, 401056555, 401353224, 401243409, 401243413]

# Select rows where 'tournament id' is in the specified values
northEastRegion = cleanData[cleanData['tournament id'].isin(values)]

   tournament id  player id  hole_par  strokes  n_rounds         player  \
0      401353224       9261       288      289         4  Abraham Ancer
1      401353224       5548       288      286         4    Adam Hadwin
6      401353224      10906       288      287         4      Aaron Rai
7      401353224      10372       288      287         4    Adam Schenk
8      401353224        388       288      299         4     Adam Scott

                               tournament name  \
0  The Memorial Tournament pres. by Nationwide
1  The Memorial Tournament pres. by Nationwide
6  The Memorial Tournament pres. by Nationwide
7  The Memorial Tournament pres. by Nationwide
8  The Memorial Tournament pres. by Nationwide

                                     course    date  season Finish  sg_putt  \
0  Muirfield Village Golf Club - Dublin, OH  6/5/22    2022    T32     0.20
1  Muirfield Village Golf Club - Dublin, OH  6/5/22    2022    T18     0.36
6  Muirfield Village Golf Club - Dublin, OH  6/5/22    2022    T26     2.05
7  Muirfield Village Golf Club - Dublin, OH  6/5/22    2022    T26    -0.96
8  Muirfield Village Golf Club - Dublin, OH  6/5/22    2022    T67    -0.82

   sg_arg  sg_app  sg_ott  sg_t2g  sg_total
0   -0.13   -0.08    0.86    0.65      0.85
1    0.75    0.31    0.18    1.24      1.60
6    0.74   -1.32   -0.12   -0.70      1.35
7   -0.01    1.84    0.48    2.31      1.35
8   -1.79    2.00   -1.04   -0.83     -1.65